#center-page {
	position: relative;
	width: 1020px;
	margin: 70px auto 30px auto;
	min-height: 700px;
	border: solid 1px rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;	
	background: #fff;
}

#page {
	padding: 40px;
}

.footer {
	text-align: center;
}

#inputDate {
	position: absolute;
	top: 40px;
	right: 40px;
}

div.datepicker {
	z-index: 2;
}

.navbar title {
	float: left;
	display: block;
	padding: 10px 20px 10px;
	margin-left: -20px;
	font-size: 20px;
	font-weight: 200;
	color: white;
}
.navbar .welcome {
  float: right;
  display: block;
  padding: 10px 20px 10px;
  margin-left: -20px;
  font-size: 16px;
  font-weight: 200;
  color: #ffffff;
}

.navbar .btn{
  float: right;
  margin-right: 20px;
}

#dialogTimeContainer {
	width: 100%;
	height: 90px;
}

.dialogTime {
	float: left;
	margin-right: 30px;
}

.fc-first .fc-widget-content.notAllowed {
	background: rgb(240, 240, 240);
}

.breakTimeCells {
	background-color: rgba(225, 225, 225, 0.5);
}

.fc-event.fc-event-pointer {
	cursor: pointer;
}

.fc-view-crosshair {
	cursor: crosshair;
}